<h1>Dino DNA Weekend</h1>

<form id='dinosaur_form'>
  <input type='text' name='name' id='dinosaur_name' placeholder='name'>
  <input type='text' name='species' id='dinosaur_species' placeholder='species'>
  <input type='text' name='gender' id='dinosaur_gender' placeholder='gender'>
  <button id='dinosaur_create_button'>Create</button>
</form>

<br/>

<div id="dinosaur_div"></div>